// app global css in SCSS form
.masculine {
  background-color: rgb(221, 228, 255);
}

.feminine {
  background-color: rgb(255, 205, 193);
}

.neuter {
  background-color: rgb(177, 177, 177);
}

.bg-dialog {
  background-color: $dialog;
}

.subtitle {
  font-size: medium;
  color: $secondary;
  margin: 0 0 1em 0;
}
.title_subtitle {
  margin-bottom: 0;;
}

.container {
  max-width: 90%;
}

.container-90 {
  width: 90%;
}


.container-small {
  max-width: 50%;
}

.light-header {
  margin: 1rem;
}

.alternative-answer {
  width: 45vw;
}

@media (max-width: $breakpoint-xs-max) {
  .alternative-answer {
    width: 90vw;
  }
}

